@import "tailwindcss";

:root {
    color-scheme: dark;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: "Space Grotesk", "Segoe UI", sans-serif;
    background: #09090f;
}
